/*Fuentes*/
@font-face {
    font-family: "DIN Next Rounded LT Pro Bold";
    src: url("https://db.onlinewebfonts.com/t/6f1a075af8afe852f3e3c8a75e49bc31.eot");
    src: url("https://db.onlinewebfonts.com/t/6f1a075af8afe852f3e3c8a75e49bc31.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6f1a075af8afe852f3e3c8a75e49bc31.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/6f1a075af8afe852f3e3c8a75e49bc31.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/6f1a075af8afe852f3e3c8a75e49bc31.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/6f1a075af8afe852f3e3c8a75e49bc31.svg#DIN Next Rounded LT Pro Bold")format("svg");
    }
  
@font-face {
    font-family: "DIN Next Rounded LT Pro Medium";
    src: url("https://db.onlinewebfonts.com/t/f83531ae85a3fcd9345c4267e28833ee.eot");
    src: url("https://db.onlinewebfonts.com/t/f83531ae85a3fcd9345c4267e28833ee.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f83531ae85a3fcd9345c4267e28833ee.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/f83531ae85a3fcd9345c4267e28833ee.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/f83531ae85a3fcd9345c4267e28833ee.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/f83531ae85a3fcd9345c4267e28833ee.svg#DIN Next Rounded LT Pro Medium")format("svg");
  }
  
@font-face {
    font-family: "DIN Next Rounded LT Pro Light";
    src: url("https://db.onlinewebfonts.com/t/8089d3cfb09b48b3e41555be1c9dc537.eot");
    src: url("https://db.onlinewebfonts.com/t/8089d3cfb09b48b3e41555be1c9dc537.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/8089d3cfb09b48b3e41555be1c9dc537.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/8089d3cfb09b48b3e41555be1c9dc537.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/8089d3cfb09b48b3e41555be1c9dc537.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/8089d3cfb09b48b3e41555be1c9dc537.svg#DIN Next Rounded LT Pro Light")format("svg");
  }

body, html {
    margin: 0; 
    padding: 0;
  }

/*Header*/
.header {
    background-color: #f2f2f2;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.logo-container {
    display: flex;
    align-items: center;
  }
  
.logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  
.brand-name {
    font-family: "DIN Next Rounded LT Pro Bold";
    font-size: 24px;
    color: #000000;
    margin: 0;
  }

.nav {
    padding: 1em;
  }
  
.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
.nav-item {
    margin-right: 20px;
  }
  
.nav-link {
    font-family: "DIN Next Rounded LT Pro Medium";
    color: #000000;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
.nav-link:hover {
    color: #ff0000;
  }

/* Estilos para el contenido principal */
.main-content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #1caff6;
  border-radius: 20px;
}

/* Estilos para la sección del artículo */
.article-section {
  margin-bottom: 20px;
}

/* Estilos para el título del artículo */
.article-title {
  font-family: "DIN Next Rounded LT Pro Bold";
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #f2f2f2;
}

/* Estilos para el texto del artículo */
.article-text {
  font-family: "DIN Next Rounded LT Pro Light";
  font-size: 20px;
  margin-bottom: 20px;
  text-align: justify;
  color: #f2f2f2
}

/* Estilos para los autores */
.authors {
  font-family: "DIN Next Rounded LT Pro Medium";
  font-size: 16px;
  color: #f2f2f2;
  margin-bottom: 10px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
  .article-section, .sidebar {
    flex-basis: 100%;
  }
}

/*Footer*/
.footer {
    background-color: #f2f2f2;
    color: #000000;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }
  
.copyright {
  font-family: "DIN Next Rounded LT Pro Light";
  font-size: 14px;
  margin-bottom: 10px;
  }
  
.footer-links {
  font-family: "DIN Next Rounded LT Pro Light";
  list-style: none;
  margin: 0;
  padding: 0;
  }
  
.footer-link-item {
  display: inline-block;
  margin-right: 20px;
  }
  
.footer-link {
  color: #000000;
  text-decoration: none;
  transition: color 0.2s ease;
  }
  
.footer-link:hover {
  color: #ff0000;
  }
